@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

body {
    border: 3px solid red;
}
/* Divs*/

div{
    margin-top: 10px;
}

/* LOGO*/


/* Fonts */


/* Navbar */


/* FOTOS */

.foto {
    width: 250px;
    height: 250px;
}

.foto_perfil {
    border-radius:  50%;
    width: 400px;
    height: 400px;
}

.foto_perfil_2 {
    border-radius:  50%;
    width: 100px;
    height: 100px;
}

/* FOTOS PORTFOLIO */
.box-portfolio {
    width: 200px;
    height: 200px;
    margin: 15 auto;    
}

.img_portfolio div {
    margin: auto;
    display: inline;
    padding: 5px;
}

.testemunho_box {
    background-color: rgb(235, 226, 226);
    display: inline-block;
    width: 80%;
    height: 100%;
}


/* CONTAINER */

#presentation {
    padding-top: 50px;
}

.container h5{
    color:rgb(139, 139, 139)
}

.display_4 {
    color: #403B65;
    font-size: 40px;
    line-height: 45px;
}

.presentation_text {
    font-size: 17px;
    color: rgb(104, 104, 104);
}

.text-menu {
    text-align: center;
}

/* BUTTON // BUTTON */
.container button{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-color: #7921e4;
    margin-right: 10px;
    background-color: #8E43E7;
    color: #FFF;
}

#btn2 {
    background-color: white;
    color: #8E43E7;
}

/* ícones  */
 
.icones {
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
}

/* SERVICES  */

.img_services {
    width: 100%;
    height: 100%;
}

.img_services img {
    height: 100px;
    width: 100px;
}

.img_services div:hover {
    border-left: 3px solid red;
    
}

.mini_box {
    height: 100%;
    width: 100%;
}


/* MY RESUME*/

.box_resume {
    padding-left: 12px;
    border-left: 2px dashed black ;
}


/*Contacts*/

.contact-info {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 0 20px;
    margin-top: 50px;
    margin-left: 70px;
}

.card {
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card-icon {
    padding: 10px;
    font-size: 28px;
    color: orangered;
    border-style: dotted;
    border-radius: 50%;
    margin-bottom: 8px;

}

.contact-info div {
    background: #FFF;
}

/* Map and Forms */
.item-form {
    font-family: sans-serif;
    font-weight: 300;
    padding: 5px;
    padding-right: 30px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.contact-in {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: rgb(241, 241, 241);
    box-shadow: 0px 0px 10px 0px #666;
    margin-top: 30px;
    margin-bottom: 60px;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-map iframe{
    width: 100%;
    height: 100%;
}

.contact-form {
    padding-left: 30px;
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-form-txt {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txtarea {
    font-family: sans-serif;
    font-weight: 300;
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.button-form {
    background: rgb(182, 46, 236);
    padding: 15px;
    font-weight: 600;
    font-size: 15px;
    color: rgb(235, 235, 235);
    border-radius: 13px;
}

#copyright{
    padding: 30px;
    padding-left: 530px;
    background: rgb(218, 218, 218);
    position: relative;
}